# --------------------------------------------------------------------------------------------------
# Python cache
# --------------------------------------------------------------------------------------------------
__pycache__
*.pyc


# --------------------------------------------------------------------------------------------------
# Build artifacts
# --------------------------------------------------------------------------------------------------
.mypy_cache/*
pwncat.egg-info/
pwncat.egg-info/
build/
dist/

# Ignore custom package builds
share/pkg/blackarch
share/pkg/brew
share/pkg/nixos
share/pkg/pentoo


# --------------------------------------------------------------------------------------------------
# Tests
# --------------------------------------------------------------------------------------------------
.env
